{% extends 'core/base.html' %}
{% block title %}About Me{% endblock %}

{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
    <h1>About Me</h1>
    <span class="subheading">Who I am</span>
{% endblock %}

{% block content%}
    <div class="container">
      <div class="row">   
        <div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
          <h2 class="section-heading">Jesús Ali Rios</h2>   
          <p>Professional with 15+ years of hands-on experience.
            Solid interpersonal communication, organizational, and decision-making skills
            Track and report on project progress for new product features and enhancements across teams (product management, development, QA, training)
            Trilingual in English Spanish Portuguese.</p>
          <p>Being a diligent, hardworking and result oriented person, I always work towards achieving best result on each project I lay my hands on.</p>
        </div>
      </div>  
    </div>
{% endblock %}