{% extends 'core/base.html' %}
{% block title %}Contact{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
    <h1>Contact</h1>
    <span class="subheading">Get In Touch</span>
{% endblock %}


{% block content%}
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>I am available to work on your projects and bring your ideas to life. I am just a click away.</p>
          <br>
          <p><b>Phone Number:</b> +55 21 97190 6677</p>
        </div>
      </div>
    </div>
{% endblock %}